html {
    height: 100%;
    width: 100%;
    background-color: rgb(8, 8, 8);
}

/* rgb(255, 129, 255) - light blue */
/* rgb(255, 129, 255), rgb(255, 192, 255), rgb(255, 214, 255) - light pink */

.titlediv {
    border: 5px solid rgb(12, 12, 20);
    background-color: rgb(20, 20, 20);
    width: fit-content;
    height: fit-content;
    margin: 5px;
}

.pagediv {
    border: 5px solid rgb(12, 12, 20);
    background-color: rgb(20, 20, 20);
    width: fit-content;
    height: fit-content;
    margin: 5px;
}

.maindiv {
    border: 5px solid rgb(12, 12, 20);
    background-color: rgb(20, 20, 20);
    width: 1000px;
    height: fit-content;
    margin: 5px;
}

.descriptiondiv {
    border: 5px solid rgb(12, 12, 20);
    background-color: rgb(20, 20, 20);
    width: 1000px;
    height: 170px;
    margin: 5px;
}

.gamediv {
    border: 5px solid rgb(12, 12, 20);
    background-color: rgb(15, 15, 15);
    width: fit-content;
    height: fit-content;
    margin: 5px;
    display: inline-block;
}

.button {
    transition-duration: 0.3s;
    border: 5px solid rgb(16, 16, 16);
    background-color: rgb(20, 20, 20);
    width: fit-content;
    height: fit-content;
    margin: 5px;
    font-size: 15px;
    font-family: Lexend Giga;
    font-weight: 500;
    color: white;
}

img {
    margin: 5px;
    border: 5px solid rgb(12, 12, 20);
}

.button:hover {
    background-color: rgb(40, 33, 71);
    border: 5px solid rgb(27, 27, 51);
    color: white;
}

tt {
    font-size: 45px;
    font-family: Lexend Giga;
    font-weight: 600;
    color: white;
}

nt {
    font-size: 15px;
    font-family: Prompt;
    font-weight: 500;
    color: white;
}